/asp_dot_net_core_web_api_template/BookStoreAPI/.vs
/asp_dot_net_core_web_api_template/BookStoreAPI/obj
/asp_dot_net_core_web_api_template/BookStoreAPI/wwwroot/Files
/asp_dot_net_core_web_api_template/BookStoreAPI/bin
/asp_dot_net_core_web_api_template/BookStoreAPI/BookStoreAPI.csproj
